
.container-all{
    width: 100%;
    max-width: 10000px;
    margin: auto;
    padding: 60px;
    background: white;
    margin-top: 50px;
    
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
    
}

.sub-title{
    font-size: 30px;
    font-weight: 400;
}

.container-all img{
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}
